<?xml version="1.0"?>
<config>
    <modules>
        <Transdirect_Ship>
            <version>0.1.0</version>
        </Transdirect_Ship>
    </modules>
    <frontend>
        <routers>
            <ship>
                <use>standard</use>
                <args>
                    <module>Transdirect_Ship</module>
                    <frontName>ship</frontName>
                </args>
            </ship>
        </routers>
        <layout>
            <updates>
                <ship>
                    <file>ship.xml</file>
                </ship>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <ship>
                <class>Transdirect_Ship_Model</class>
                <resourceModel>ship_mysql4</resourceModel>
            </ship>
            <ship_mysql4>
                <class>Transdirect_Ship_Model_Mysql4</class>
                <entities>
                    <ship>
                        <table>ship</table>
                    </ship>
                </entities>
            </ship_mysql4>
        </models>
        <resources>
            <ship_setup>
                <setup>
                    <module>Transdirect_Ship</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ship_setup>
            <ship_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ship_write>
            <ship_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ship_read>
        </resources>
        <blocks>
            <ship>
                <class>Transdirect_Ship_Block</class>
            </ship>
        </blocks>
        <helpers>
            <ship>
                <class>Transdirect_Ship_Helper</class>
            </ship>
        </helpers>
    </global>
    <default>
	 <carriers>
	   <transdirect_section>
	     <warehouseaddress><address>1</address></warehouseaddress>
	     <displayoptions><showcouriernames>1</showcouriernames></displayoptions>
	   </transdirect_section>
	      <transdirect>
	           <active>1</active>
	           <model>ship/carrier_transdirect</model>
	           <title>Carrier</title>
	           <name>Method Name</name>
	           <price>5.00</price>
	           <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
	        </transdirect>
	     </carriers>
       </default>
</config>